@using RoutineCatalogue.Models.ViewModels
@model RoutineViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <dl class="col-md-4">
        <div class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>
        <br />
        <a asp-action="Edit" title="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit <i class="fas fa-edit"></i></a> |
        <a asp-action="Index">Back to List</a>
    </dl>
    <div class="col-md-8">
        @await Component.InvokeAsync("SetDetails", Model.Id)
    </div>
</div>
